:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

.home-background {  
    background:
        linear-gradient(to top right, rgba(0, 0, 0, 0.751), rgba(255, 255, 255, 0.148)),
        url('/public/Images/Backgrounds/river-plate-recibimiento.jpg');
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(farthest-side,#E2211C 94%,#0000) top/8px 8px no-repeat, conic-gradient(#0000 30%,#E2211C);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: l13 1s infinite linear;
}

@keyframes l13{ 
    100%{transform: rotate(1turn)}
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.checkbox-input {
    display: none;
}
.checkbox {
    width: 24px;
    height: 24px;
    border: 2px solid #ccc;
    border-radius: 4px;
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
.checkbox-input:checked + .checkbox {
    background-image: url('/Icons/checked.png');
    background-size: cover;
    border-color: #f44336;
}
.checkbox-input:focus + .checkbox {
    box-shadow: 0 0 0 2px rgba(255, 99, 71, 0.6);
}
.checkbox:hover {
    cursor: pointer;
    border-color: #f44336;
}